*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    color: #d7dfe4;
}
.digit{
    font-size: 100px;
    font-weight: bold;
}
.txt{
    font-size: 25px;
    font-weight: bold;
}
@media screen and (min-width: 900px){
    .digit{
        font-size: 125px;
        font-weight: bold;
    }
    .txt{
        font-size: 30px;
        font-weight: bold;
    }
}
.btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#start{
    background-color: green;
    transition: all ease 0.5s;
}
#start:hover{
    background-color: rgb(2, 109, 2);
}
#stop{
    background-color: blue;
    transition: all ease 0.5s;
}
#stop:hover{
    background-color: rgb(3, 3, 218);
}
#reset{
    background-color: red;
    transition: all ease 0.5s;
}
#reset:hover{
    background-color: rgb(186, 4, 4);
}